<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Time Display</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app_my/css/style.css' %}">  
    </head>
    <body>
        <div class="box">The current time and Date</div>
        <div class="box1">
            {{time}}
        </div>
        
    </body>
</html>