<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>checkerboard</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='my_css/my_style.css')}}">
    </head>
    <body>
       <h1>INDEX</h1>
        <table>
            <tr>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
            </tr>
        </table>

        
    </body>
</html>