<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>checkerboard</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='my_css/my_style.css')}}">
    </head>
    <body>
        <p>hello</p>
        
        <table>
            {% for i in range(2) %}
                <tr>
    
                    {% for j in range(3) %}
                        <td class="color1"></td>
                        <td class="color2"></td>
                
                    {% endfor %}
                </tr>
                <tr>
                    {% for j in range(3) %}
                        <td class="color2"></td>
                        <td class="color1"></td>
                
                    {% endfor %}
                </tr>
               
            {% endfor %}

           

           
           
        </tr>
        </table>
        <h2>Refactoring table</h2>
        <table>
                {% for i in range(y_on_template) %}
                <tr>
        
                    {% for j in range(x_on_template) %}
                        <td class="color{{  (i+j)%2 +1 }}"></td>
                
                    {% endfor %}
                </tr>
            {% endfor %}
          
        </table>
       

        
    </body>
</html>