<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Counter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="text-center mb-4">
                    <h1>Counter</h1>
                    <h2> {{session['count']}} times</h2>
                    <!-- <form action="/add", method ='post'>
                        <button type="submit" class="btn btn-danger btn-lg">Add two visits</button>
                    </form>
                    <form action="/reset", method ='post'>  
                        <button type="submit" class="btn btn-success btn-lg">Reset</button>
                    </form> -->
                    <a type="button" class="btn btn-success" href="/add">Add 2</a>
                    <a type="button" class="btn btn-success" href="/reset">RESET</a>
                </div>
            </div>
        </div>
        
    </body>
</html>