<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" >
</head>
    <body>
        <h1>Heloo Pramila</h1>
        <p>welcome to flask template</p>
        
    </body>
</html>