<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <a>SUbmitted Information</a>
        <p>Name:{{name_on_template}}</p>
        <p>Gender:{{gender_on_template}}</p>
        <p>Dojo Location:{{city_on_template}}</p>
        <p>Favorite Language:{{language_on_template}}</p>
        <p>Hobbies:{{hobies_on_template}}</p>
        <p>Comment:{{comments}}</p>

        <a href="http://127.0.0.1:5000/"><input type="submit" value="Go Back"></a>
    </body>

    
</html>