<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_css/my_style.css') }}">
    </head>
    <body>
        <div class="container">
            <p>your gold:<input type="text" value="{{gold_earned}}"></p>
            <div class="gold_section">
                <form action="/process_money" method="post">
                    <h4>Farm</h4>
                    <p>(earns 10-20golds)</p>
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="gold_section" >

                <form action="/process_money" method="post">
                    <h4>Cave</h4>
                    <p>(earns 5-10 golds)</p>
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="gold_section">
                <form action="/process_money" method="post">
                    <h4>House</h4>
                    <p>(earns 2-5 golds)</p>
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="gold_section">

                <form action="/process_money" method="post">
                    <h4>Casino</h4>
                    <p>(earn 0-50 golds)</p>
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>

            <div class="activities">
                {% for activity in log %}
                    <p>{{activity}}</p>
                {% endfor %}

            </div>
            <div>
                <button href ="/reset" type="button">Reset...</button>
            </div>

        
        </div>
    </body>
</html>