<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            .boxes{
                background-color: {{color}};
                margin: 15px;
                height: 150px;
                width:150px;
                display: inline-block;
                text-align:center;
                margin-top:100px;
            }
        
        </style>
    </head>
    <body>
        {% for i in range(0,new_play) %} 
            <div class="boxes">{{color}}</div>
        {% endfor %}

            
        
        
        

    
    </body>
</html>