<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h2>All Shows</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">Network</th>
            <th scope="col">Release_date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for shows in all_shows%}
        <tr>
       
        
        <td>{{shows.id}}</td>
        <td>{{shows.title}}</td>
        <td>{{shows.network}}</td>
        <td>{{shows.release_date}}</td>
        <td><a href="/shows/{{shows.id}}">View  |</a><a href="/shows/{{shows.id}}/edit"> Edit  |</a><a href="/shows/{{shows.id}}/destroy" >Delete </a></td>
        </tr>
        {% endfor %}
        
        </tbody>
      </table>
      <a href="/shows/new">Add a new Show</a>
      
</body>
</html>