<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SHow Information</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'tv_show_app/css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body>
        <div class="container">
            <h3>Tv SHow {{show.id}}</h2>
            <a href="/shows">Go Back</a>
            <p>Title : {{show.title}}</p>
            <p>Network: {{show.network}}</p>
            <p>Release_Date :{{show.release_date}}</p>
            <p>Description   : {{show.desc}}</p>
            <div>
                <p>Last Updated {{show.updated_at}}</p>
                <a href="/shows/{{show.id}}/edit">Edit  </a> <a href="/shows/{{show.id}}/destroy">| Delete</a>  

            </div>
        </div>
        
    </body>
</html>